OPENAI_API_KEY="your-openai-api-key"
TAVILY_API_KEY="your-tavily-api-key"
GOOGLE_API_KEY="your-google-api-key"
GEMINI_API_KEY="your-gemini-api-key"


OPENAI_API_BASE="http://127.0.0.1:11434/v1"
OLLAMA_BASE_URL="http://127.0.0.1:11434/"
FAST_LLM="google_genai:gemini-2.0-flash-exp"
SMART_LLM="google_genai:gemini-exp-1206"
STRATEGIC_LLM="google_genai:gemini-2.0-flash-thinking-exp-01-21"
EMBEDDING="ollama:nomic-embed-text"

